@import '../index.scss';

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    height: calc(100vh - $header-height);
}

.list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    &_item{
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 2rem;
        padding: 10px;
        border-radius: 4px;
        &:hover{
            background-color: $grey-light;
            // font-weight: 700;
        }

        &_icon{} 
        &_text{
            font-weight: inherit;
        }
    }
}

.active{
    font-weight: 700;
}

.accordion{
    cursor: pointer;

    &_toggle{
        
    }
    &_item{
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 2rem;
        padding: 10px;
        border-radius: 4px;
    }
    &_text{

    }
    &_icon{
        cursor: pointer;
        &_active{
            transform: rotate(-90deg);
        }
    }
}