@import '../index.scss';

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    height: calc(100vh - $header-height);
}

.list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    &_item{
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 2rem;
        padding: 10px;
        border-radius: 4px;
        &:hover{
            background-color: $grey-light;
        }

        &_icon{}
        &_text{}
    }
}